# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
.tmp
.sass-cache

###############
.DS_Store
node_modules
bower_components
test_coverage
private
#dist

##push server
#/*
#!/dist
#!server.js
#!/logs
#!package.json
#!process.json
#*.log
#*.pid