/* .download{
    margin:40px auto;
    .download-btn{
        text-align: center;
        li{
            margin-bottom: 20px;
            a{
                position: relative;
                color: #fff;
                width: 180px;
                height: 58px;
                padding-left: 64px;
                text-align: left;
                font-size: 20px;
                line-height: 58px;
                //@include box-sizing(border-box);
                i{
                    position: absolute;
                    top: 9px;
                    left: 20px;
                    font-size: 36px;
                }
            }
        }
    }
    .qrcode-app{
        text-align: left;
        img{
            width: 135px;
            border: 1px solid #d9d9d9;
        }
    }
}  */